/*------------------------------------------------------------------------------------------
                                                header
-------------------------------------------------------------------------------------------*/
.header {
    height: 92px;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    padding: 30px 0;
    z-index: 999;
}

.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    height: 72px;
}
.logo {
    float: left;
    padding-left: 60px;
}
.logo h1 {
    margin :0;
    letter-spacing: 1px;
}
.logo a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    border-left: 4px solid #18d26e;
}

.nav-menu-container {
    float: right;
    margin: 0; 
}

.nav-menu-container ul {
    list-style: none;
}

.nav-menu-container li {
    float: left;
}

.nav-menu-container li a {
    text-decoration: none;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 10px;
}

.nav-menu a {
    padding: 0 8px 10px 8px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
}

.nav-menu a:hover {
    color: #18d26e;
}

/*--------For desktop devices--------*/
@media(min-width: 1024px){
    .nav-menu-container {
        padding-right: 60px;
    }
}

/*------------------------------------------------------------------------------------------
                                            section intro
-------------------------------------------------------------------------------------------*/
.intro {
    width: 100%;
    height: 100vh;
    background: #000000;
}

.intro .intro-container {
    width: 100%;
    height: 100%;
}

.intro .carousel-fade {
    overflow: hidden;
}

.intro .carousel-fade .carousel-item {
    transition-property: opacity;
}
.intro .carousel-item .carousel-item {
    opacity: 0;
}

.intro .carousel-fade .carousel-item .active {
    opacity: 1;
    transition: 0.5s;
}
.intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.intro .carousel-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.intro .carousel-content {
    text-align: center;
}

.intro h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: white;
    font-size: 18px;
}

.intro .btn-get-started {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 32px;
    margin: 10px;
    background: #18d26e;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}
.intro .btn-get-started:hover {
    background: #fff;
    color: #18d26e;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: white;
    opacity: 1;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 60px;
    height: 60px;
    background: none;
    line-height: 1;
}

.carousel-control-prev-icon i,
.carousel-control-next-icon i {
    font-size: 60px;
}


/*------------------------------------------------------------------------------------------
                                                main
-------------------------------------------------------------------------------------------*/

/*-----------------------------------
        featured-services
-----------------------------------*/
.featured-services {
    background: #000000;
}

.featured-services .box {
    padding: 30px 20px;
}

.featured-services i {
    color: #18d26e;
    font-size: 48px;
    line-height: 1;
}
.featured-services h4 {
    font-weight: 500;
    font-size: 18px;
    margin: 15px 0;
}

.featured-services a {
    color: white;
    text-decoration: none;
}

.featured-services p {
    font-size: 14px;
    line-height: 24px;
    color: white;
}


/*--------------------------
            about
--------------------------*/
.about {
    background: url(../image/about-bg.jpg) center top fixed;
    background-size: cover;
    position: relative;
    padding: 60px 0 40px 0;
}
.about::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

.about .container {
    position: relative;
    z-index: 10;
}

.section-header h3::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
} 
.section-header h3{
    font-size: 32px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
}

.section-header p {
    text-align: center;
    color: #000000;
    padding-bottom: 30px;
    font-size: 18px;
}
.about .row {
    display: flex;
    flex-wrap: wrap;
}
.about .about-column {
    background: white;
    border-radius: 5px;
}

.about .about-column .img {
    position: relative;
}

.about .about-column .img img{
    border-radius: 5px;
}

.about .about-column .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    position: absolute;
    background-color: #18d26e;
    border-radius: 50%;
    text-align: center;
    border: 4px solid white;
    left: calc(50% - 32px);
    bottom: -30px;
}

.about .about-column i {
    font-size: 32px;
    line-height: 1;
    color: white;
}

.about .about-column h2 {
    color: #000000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 40px 0 12px 0;
}
.about .about-column h2 a {
    color: #000000;
    text-decoration: none;
}

.about .about-column h2 a:hover {
    color: #18d26e;
}

.about .about-column p {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0 20px 20px 20px;
}

.about .about-column .img-fluid {
    max-width: 100%;
    height: auto;
}

/*--------------------------
            services
--------------------------*/
.service {
    background: white;
    background-size: cover;
    padding: 60px 0 40px 0;
}

.service .box {
    margin-bottom: 30px;
}

.service .icon {
    float: left;
}

.service .icon i {
    color: #18d26e;
    font-size: 36px;
    line-height: 1;
}

.service .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.service .title a {
    color: #000000;
    text-decoration: none;
}

.service .title a:hover {
    color: #18d26e;
}

.service .row p {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
}


/*--------------------------
            team
--------------------------*/
#team {
    background: #f7f7f7;
    padding: 60px 0;
}

#team .member{
    position: relative;
    text-align: center;
    background: #000;
    margin-bottom: 20px;
}
#team .member .member-info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

#team .member:hover .member-info{
    visibility: visible;
    opacity: 1;
}

#team .member-info-content{
    transition: 0.2s;
    transform: translateY(1em);
}

#team .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}
#team .member .member-info .member-info-content .social a i{
    font-size: 20px;
}

/*--------------------------
            contact
--------------------------*/
#contact{
    padding: 60px 0;
}

#contact .contact-info{
    margin-bottom: 20px;
    text-align: center;
}

#contact .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
#contact .contact-info i,#contact .contact-phone i, #contact .contact-email i{
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #18d26e;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-row >.col,.form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

#contact .form input,#contact .form textarea{
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

.form-group{
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#contact .form button[type="submit"]{
    background: #18d26e;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
    font-size: 18px;
}
/*------------------------------------------------------------------------------------------
                                                footer
-------------------------------------------------------------------------------------------*/
#footer{
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top{
    background: #111;
    padding: 60px 0 30px 0;
}
#footer .footer-top .footer-links 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links 
ul li:first-child{
    padding-top : 0;
}
#footer .footer-top .footer-links 
ul li{
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

#footer .footer-top .social-links 
a{
    font-size: 18px;
    display: inline-block;
    background: #333;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
}

#footer .footer-top .footer-newsletter 
input[type="email"]{
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"]{
    background: #18d26e;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
}



/*----------------------another--------------------------*/
#back-to-top {
    position: fixed;
    background: #18d26e;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    z-index: 11;
}