<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link th:href="@{/image/favicon.png}" rel="icon">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" type="text/css"/>

</head>
<body>
<div class="container">
    <h1>Welcome to my demo</h1>

    <div class="container-button">
        <button class="btn btn-success">Add new customer</button>
    </div>

    <div class="container-table">
        <table>
            <tr>
                <th>Id</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>&nbsp;</th>
            </tr>

            <tr th:each="item :${listCustomer}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.fullName}"></td>
                <td th:text="${item.email}"></td>
                <td th:text="${item.dob}"></td>
                <td>
                    <a><i class="fa fa-eye"></i> View</a> |
                    <a><i class="fa fa-pencil"></i> Edit</a> |
                    <a><i class="fa fa-remove"></i> Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<link rel="stylesheet" th:href="@{/css/dashboard.css}" type="text/css"/>
<script th:src="@{/js/jquery-3.3.1.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>